## psycopg2 이용

In [30]:
!pwd

/Users/a1101809/Documents/workspace/Python/DB_connection

In [3]:
import psycopg2

In [5]:
db = psycopg2.connect(host ='localhost' , dbname = 'test_db', user='postgres',password = '12341234',port=5432)

## 알케미

In [1]:
from sqlalchemy import create_engine

In [2]:
url = "postgresql://postgres:12341234@localhost:5432/test_db"

In [3]:
engine = create_engine(url)
conn = engine.connect()

In [5]:
engine.execute('''
                create table test1 (
              id SERIAL PRIMARY KEY , 
               contents varchar(255) not null 
              );

''')

In [37]:
result =engine.execute('''
    select * from test;
''')

In [38]:
result.fetchall()

[(1, 'a'), (2, 'hello')]

In [36]:
# "" 쓰면 에러
engine.execute('''
    insert into test(id,contents)
    values (2,'hello')
            ;
''')

## ipython-sql

In [40]:
%reload_ext sql

In [41]:
%sql postgres+psycopg2://postgres:127.0.0.1:5432/test_db

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
invalid literal for int() with base 10: '127.0.0.1:5432'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## table 생성

In [53]:
engine.execute('''
               drop table if exists cmc_event;
               create table cmc_event(
               session_id varchar(40) null , 
               event_timestamp timestamp null , 
               event_name varchar(20) null ,
               user_no varchar(30) null ,
               item_no varchar(30) null ,
               device_type varchar(20) null ,
               mobile_brand_name varchar(50) null ,
               mobile_model_name varchar(50) null ,
               mobile_marketing_name varchar(50) null ,
               operating_system_version varchar(50) null ,
               country varchar(50) null ,
               region varchar(50) null ,
               platform varchar(10) null 
               );
''')

In [43]:
engine.execute('''
               drop table if exists cmc_user;
               
               create table cmc_user (
               
               user_no varchar(30) null ,
               birth_date varchar(20) null , 
               gender varchar(10) null
            
               );
''')

In [44]:
engine.execute('''
               drop table if exists cmc_product;
               create table cmc_product(
               item_no varchar(30) null , 
               item_name varchar(200) null ,
               image_name varchar(100) null , 
               price varchar(20) null ,
               category1_code varchar(20) null ,
               category1_name varchar(20) null ,
               category2_code varchar(20) null ,
               category2_name varchar(20) null ,
               category3_code varchar(20) null ,
               category3_name varchar(20) null ,
               brand_no varchar(20) null ,
               brand_name varchar(100) null
               );
''')

# csv 밀어넣기

In [47]:
FILE_DIRECTORY = '/Users/a1101809/Documents/workspace/Search_and_Recommendation/recommendation/data/'

In [48]:
event_file = FILE_DIRECTORY + 'sampled_events.csv'
product_file = FILE_DIRECTORY + 'sampled_products.csv'
user_file = FILE_DIRECTORY + 'sampled_users.csv'

In [49]:
event_file

'/Users/a1101809/Documents/workspace/Search_and_Recommendation/recommendation/data/sampled_events.csv'

In [28]:
engine.execute('''
    copy cmc_event from 
    '/var/lib/postgresql/data/csv_file/data/sampled_events.csv'
    WITH DELIMITER ',' CSV HEADER
    ;
commit;
''')

In [23]:
engine.execute('''
commit;
''')

In [29]:
result = engine.execute('''
 select * from cmc_event limit 1;
''')
result.fetchall()

[('c47e93742387750baba2e238558fa12d', datetime.datetime(2021, 6, 3, 13, 0, 1, 845000), 'click_item', '+9eODQMZ8YgXQZJJAo56nw==', '4KwsZkXDulM0oQ2sTVSlYQ==', 'mobile', 'Samsung', 'SM-N960N', 'Galaxy Note9', 'Android 10', 'South Korea', 'Gyeonggi-do', 'ANDROID')]

In [11]:
engine.execute('''
    copy cmc_user from 
    '/var/lib/postgresql/data/csv_file/data/sampled_users.csv'
    WITH DELIMITER ',' CSV HEADER
    ;
commit;
''')

In [13]:
result = engine.execute('''
 select count(*) from cmc_user limit 10;
''')
result.fetchall()

[(254958,)]

In [14]:
engine.execute('''
    copy cmc_product from 
    '/var/lib/postgresql/data/csv_file/data/sampled_products.csv'
    WITH DELIMITER ',' CSV HEADER
    ;
commit;
''')

In [15]:
result = engine.execute('''
 select count(*) from cmc_product limit 10;
''')
result.fetchall()

[(283326,)]

## %sql 써야 데이터프레임 형식으로 보이구나